body {
  background-color: black;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content:center;
  align-items: center;

  a {
    margin-left: 10px;
  }

}

.container {
  height: 80vh;
  display: flex;
  justify-content:center;
  align-items: center;
}
